{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block headscript %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
        
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

    <script>
    $(document).ready( function () {
        $('#data').DataTable();
    } );
    </script>
{% endblock %}

{% block main %}
  <div class="acrylic shadow my-3 p-3 bg-body rounded shadow-sm">
    <table id="data" class="table table-borderless table-responsive">
      <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Transaction</th>
        </tr>
      </thead>
          <tbody>
              {% for stock in user_stocks %}
              <tr>
                  <td>
                      {{ stock.symbol }}
                  </td>
                  <td>
                      {{ stock.shares }}
                  </td>
                  <td>
                      {{ stock.price | usd }}
                  </td>
                  <td>
                      {{ stock.operation }}
                  </td>
              </tr>
              {% endfor %}
          </tbody>
    </table>
  </div>
{% endblock %}