{% extends "layout-front.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
  <div>
    <form action="/login" method="post">
      <h1 class="h3 mb-3 fw-normal">Please Log in</h1>
      <p class="lead">Log in to continue. if you don't have an account please go to the register page to make yourself an account, no email is required.</p>
      <div class="form-floating">
        <input type="text" class="form-control w-100" id="floatingInput" placeholder="Johndoe" autocomplete="off" autofocus name="username">
        <label for="floatingInput" class="text-dark">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control w-100" id="floatingPassword" placeholder="Password" autocomplete="off" autofocus name="password">
        <label for="floatingPassword" class="text-dark">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-secondary fw-bold border-white bg-white" type="submit">Log in</button>
      <p class="mt-5 mb-3 text-light">&copy; ipcag</p>
    </form>
  </div>
{% endblock %}