{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block headscript %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
        
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

    <script>
    $(document).ready( function () {
        $('#data').DataTable();
    } );
    </script>
{% endblock %}

{% block main %}
<div id="loading"></div>
  <div id="content">
    <div class="acrylic shadow p-3 mb-3 rounded-3 text-center my-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Quote</h1>
        <p class="fs-5 text-center">A quote is the last price at which an asset traded; it is the most recent price that a buyer and seller agreed upon and at which some amount of the asset was transacted. ... The ask quote shows what a current participant is willing to sell the shares for. A quote is also referred to as an asset's "quoted price."</p>
      </div>
    </div>
    <div class="form-signin">
      <form action="/quote" method="post">
        <div class="d-flex justify-content-center text-danger">
          <em><strong>{{errormessage}}</strong></em>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="TSLA" name="symbol" autocomplete="off" autofocus>
          <label for="floatingInput">Symbol</label>
        </div>
        <button class="btn btn-lg btn-secondary fw-bold bg-dark text-white w-100" id="quote-button" type="submit" onclick="loading();">Quote</button>
      </form>
    </div>
  </div>

  <div class="acrylic shadow my-3 p-3 bg-body rounded shadow-sm">
    <table id="data" class="table table-borderless table-responsive">
      <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Sector</th>
        </tr>
      </thead>
          <tbody>
              {% for company in companies %}
              <tr>
                  <td>
                      {{ company.symbol }}
                  </td>
                  <td>
                      {{ company.name }}
                  </td>
                  <td>
                      {{ company.sector }}
                  </td>
              </tr>
              {% endfor %}
          </tbody>
    </table>
  </div>
{% endblock %}