{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
  <div class="acrylic p-5 mb-4 rounded-3 text-center">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Sell</h1>
      <p class="fs-4 text-center">Don't worry selling is easily done, just choose your stock symbol and type how many shares you want to sell</p>
    </div>
  </div>
  <div class="form-signin">
    <form action="/sell" method="post">
          <div class="dropdown text-center">
            <select name="symbol" class="form-control">
              <option disable selected value>
                  Symbol
              </option>
              {% for dict in stocks %}
              {% for key, symbol in dict.items() %}
              <option value="{{ symbol }}">
                  {{ symbol }}
              </option>
              {% endfor %}
              {% endfor %}
            </select>
          </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="TSLA" name="shares" autocomplete="off" autofocus>
        <label for="floatingInput">Shares</label>
      </div>
      <button class="btn btn-lg btn-secondary fw-bold bg-dark text-white w-100" id="buy-button" type="submit">Sell</button>
    </form>
  </div>
{% endblock %}