{% extends "layout-front.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
  <h1>Welcome to Trade This!</h1>
  <div class="my-3">
    <img src="/static/favicon/favico-gradient-01.svg" width="96" height="96">
  </div>
  <p class="lead">A Website where you can hone your trading skills, raking up profits or losses (all fictious of course) without any risk whatsoever.</p>
  <p class="lead">
    <a href="/login" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Get Started</a>
  </p>
{% endblock %}